<div class="images">
    <img id="right-img" src="./lonely1.png" alt="" />
    <img id="left-img" src="./lonely3.png" alt="" />
</div>
<div class="weather-title">
    <h1>Weather in a Second</h1> 
</div>