<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head')%>
</head>
<body>

    <header>
        <%- include('./header')%>
    </header>
    <div class="container">
        <div class="second-container">
            <h1>Register</h1>
            <section>
                <form method="post" action="http://localhost:3333/register">
                    <div><input type="text" name="firstname" placeholder="first name"/></div>
                    <div><input type="text" name="lastname" placeholder="last name"/></div>
                    <div><input type="email" name="email" placeholder="email"/></div>
                    <div><input type="text" name="username" placeholder="username"/></div>
                    <div><input type="password" name="password" placeholder="password"/></div>
                    <div><input type="submit" value="Register"/></div>
                </form>
                <span class="user-exists">Already have an account?<a href="http://localhost:3333/login">Log in</a></span>
            </section>
        </div>
    </div>
    <footer>
        <%- include('./footer')%>
    </footer>
    
</body>
</html>